@media (max-width: 719px) {
  .embla {
    overflow: hidden;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
  }
  
  .embla__slide {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 0 -150px 0;
  }
  
  .embla__slide__img {
    transform: translate(75%, 0%);
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 720px) {
  .embla {
    transform: scale(0.22);
    margin: -400px 0 -450px 0;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 6600px;
  }
  
  .embla__slide {
    position: relative;
    flex: 0 0 15%;
  }
}

@media (min-width: 1200px) {

  .embla {
    transform: scale(0.18);
    margin: -400px 0 -450px 0;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    margin: 0 0 0 3800px;
  }
  
  .embla__slide {
    position: relative;
    flex: 0 0 15%;
  }
}

@media (min-width: 1600px) {

  .embla {
    transform: scale(0.23);
  }
}

@media (min-width: 1900px) {

  .embla {
    transform: scale(0.27);
  }
}